{% extends "base.html.twig" %}

{% block body %}
<div class="home">

  <div id="fullpage">

    <!-- Best recipe -->
    <div class="section">
      <!-- MODULE TITLE -->
      <div class="cp-title" id="c-title">
        <h1 class="cp-title__title">Top <br>recettes. </h1>
        <a class="btn btn-square-light" href="/recipes">toutes les recettes</a>
      </div>

      <!-- MODULE CARDS RECIPE -->
      <div class="m-best-recipes" id="best-recipes">
        <div class="square"></div>
        <div class="square-fill"></div>
        <div class="slick-recipe">
          {% for recipe in recipes %}
          <a href="{{ path('recipe_show', {'id' : recipe.id}) }}">
            <div class="cp-card-recipe">
              <button class="btn btn-round__icon"><span class="icon icon-heart"></span></button>
              <div class="cp-card-recipe_image">
                <img src="{{ recipe.image }}" alt="">
              </div>
              <div class="box">
                <div class="cp-card-recipe_infos">
                  <div class="cp-card-recipe_infos-recipe">
                    <h2 class="cp-card-recipe_title">{{ recipe.title }}</h2>
                    <div class="cp-card-recipe_icons">
                      {% for category in recipe.categories %}
                      <b>{{category.title}}</b>
                      {% endfor %} </div>
                  </div>
                </div>
                <div class="cp-card-recipe_infos-user">
                  <div class="cp-card-recipe_like"><span>icon coeur</span><span>645</span></div>
                  <div class="cp-card-recipe_comments"><span>icon comment</span><span>4</span></div>
                  <div class="cp-card-recipe_user">Patate63_cuistot</div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- MODULE CALANDAR -->
    <div class="section">Some section</div>
    <div class="section section-farmer">

    </div>

    <div class="section">Some section</div>
  </div>

</div>
{% endblock %}