{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<section class="recipes">
  {% for ingredient in ingredients %}
  <article>
    <h2>{{ ingredient.title }}</h2>
  </article>
  {% endfor %}



  <div class="section section-farmer">

    <div class="container">
      <div class="list-farmer">
        <!-- echanger les ingredients par les agriculteurs -->
        {% for ingredient in ingredients %}
        <div class="item">
          <h2>{{ ingredient.title }}</h2>
          <p>Lorem Ipsum de la mort qui tue</p>
        </div>
        {% endfor %}
      </div>

      <div class="map" id="map"></div>
    </div>
    <!--container-->

  </div>
</section>
{% endblock %}