*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
p,a{
  padding: 0;
  margin: 0;
  font-family: $font;
  text-decoration: none;
}

.section{
  overflow: hidden;
  position: relative;
}

button{
  box-shadow: none;
  border:none;
}

//FONT

h1{
  font-size: 2.625rem;
  font-weight: 900;
  line-height: 3rem;
  letter-spacing: 4px;
  color: $white-color;
  text-transform: uppercase;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

//SLICK BUTTON

.next-arrow,.prev-arrow{
  position: absolute;
  background-color: $white-color;
  width: 50px;
  height: 50px;
  bottom: -6vh;
  overflow: hidden;
}

.next-arrow{
  right: 6vw;
}
.prev-arrow{
  right: 9.5vw;
}

// SLICK DOTS
.slick-dots{
  display: flex;
  position: absolute;
  left: 9vh;
  margin: 0;
  bottom: -5vh;

  li {
    list-style: none;
    width: 10px;
    height: 10px;
    background: transparent;
    border: $border;
    border-radius: 100%;
    margin: 0 5px;
  }

  .slick-active{
    background: white;
  }

  button{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 0;
  }
}

// BACKGROUND PAGE

.section:nth-child(1){
  background: $orange-gradient;
}

.section:nth-child(2){
  background: $blue-gradient;
}

.section:nth-child(3){
  background: $green-gradient;
}

.square{
  width: 80vw;
  height: 84vh;
  border: 1px solid #fff;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 53%;
  transform: translate3D(-50%, -50%, 0);
}

// Element
.line{
  width: 100px;
  height: 0px;
  border: 1px solid $white-color;
}
