.btn{

  &-square__icon{
    padding: 10px ;
    background-color: $white-color;
    color: $blue-color;
    font-weight: 700;
    font-size: 1rem;
  }

  &-square-light{
    padding: 10px ;
    background-color: none;
    color: $white-color;
    font-weight: 700;
    border: 1px solid $white-color;
    font-size: 1rem;
  }

  &-square__icon-text{
    padding: 10px 20px;
    background-color: $white-color;
    color: $blue-color;
    font-weight: 700;
    font-size: 0.875rem;
  }

  &-round__icon{
    background-color: $white-color;
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: $blue-color;
  }
}