@font-face 
{
    font-family: "myfood-icons";
    src: url('/build/fonts/myfood-icons.eot')format('eot'), /* IE9 Compat Modes */
         url('/build/fonts/myfood-icons.woff') format('woff'), /* Modern Browsers */
         url('/build/fonts/myfood-icons.woff2') format('woff2'), /* Modern Browsers */
         url('/build/fonts/myfood-icons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/build/fonts/myfood-icons.svg') format('svg'); /* Legacy iOS */
         font-weight:normal;
         font-style: normal;
}
.icon{
  font-family: "myfood-icons";
}

.icon-logo{
  &::before{
    content: $logo;
  }
}

.icon-plus{
  &::before{
    content: $plus;
  }
}

.icon-user{
  &::before{
    content: $user;
  }
}

.icon-user-light{
  &::before{
    content: $user-light;
  }
}

.icon-heart{
  &::before{
    content: $heart;
  }
}

.icon-heart-light{
  &::before{
    content: $heart-light;
  }
}