//FONT
$font: 'Montserrat', sans-serif;
$border: 1px solid #fff;
$border-orange: 1px solid #fa7128;
$border-blue: 1px solid #3F8EC8;
$border-green: 1px solid #4AA384;

// COLORS
$white-color : #fff;
$blue-color : #004E7A;
$blue-color-light : #b0d9ff66;
$orange-color :  #fa7128;
$orange-color-light : #ffd1be6e;
$green-color : #4AA384;
$green-color-light : #98ffd933;

// GRADIENT
$orange-gradient : linear-gradient(156.09deg, #FFBCA0 8.52%, #E76217 82.22%);
$blue-gradient : linear-gradient(180deg, #B0D9FF 0%, #3F8EC8 100%);
$green-gradient : linear-gradient(180deg, #B1E4E7 0%, #228B5F 100%);

// LIGHT SQUARE
$orange-light : rgba(255, 209, 190, 0.43);
