header{
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 20000000;
  display: flex;
  justify-content: space-between;
  background: none;
  align-items: center;

  .icon-logo{
    color: $white-color;
    font-size: 3.5rem;
  }

  .part-2{
    display:flex;
    align-items: center;

    div{
      margin: 0 5px;
      width: fit-content;
    }
  }
}
