.c-nav {
  .burger-menu {
    height: 40px;
    flex-flow: column;
    display: flex;
    background: none;
    justify-content: space-around;
    z-index: 222222;

    span {
      min-width: 50px;
      height: 1px;
      background: $white-color;
    }

    &.open{
      span {
        background: $blue-color;
      }
    }
  }

  ul {
    position: absolute;
    top: -200vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    color: blue;
    z-index: -1;
    margin: 0;
    transition: 0.2s all linear;

    &.open {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
