{% extends "base.html.twig" %}

{% form_theme formRecipe 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>
  {% if editMode %}
  Modifier la recette
  {% else %}
  Nouvelle recette
  {% endif %}
</h1>

{{ form_start(formRecipe) }}

{{ form_row(formRecipe.title, {'attr' : {'placeholder': 'titre de la recette' } } ) }}
{{ form_row(formRecipe.text, {'attr' : {'placeholder': 'description' } } ) }}
{{ form_row(formRecipe.image, {'attr' : {'placeholder': 'url de image' } } ) }}
{{ form_row(formRecipe.categories) }}


<button type="submit" class="btn btn-success">
  {% if editMode %}
  Enregistrer
  {% else %}
  Ajouter la recette
  {% endif %}
</button>

{# <div class="form-group">
  <label for="">Titre</label>
  {{ form_widget(formRecipe.title) }}
</div>

<div class="form-group">
  <label for="">Texte</label>
  {{ form_widget(formRecipe.text) }}
</div>

<div class="form-group">
  <label for="">Image</label>
  {{ form_widget(formRecipe.image) }}
</div> #}

{{ form_end(formRecipe) }}
{% endblock %}