{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<section class="recipes">
  {% for recipe in recipes %}
  <article>
    <h2>{{ recipe.title }}</h2>
    <div class="metadata">Créer le {{ recipe.createdAt | date ('d/m/Y') }} à {{ recipe.createdAt | date ('H:i') }} dans
      la catégorie
      {% for category in recipe.categories %}
      <b>{{category.title}}</b>
      {% endfor %} </div>
    <div class="content">
      <img src="{{ recipe.image }}" alt="">
      {# met un raw sinon il affiche les balises p vu que nous n'en n'avons pas mis #}
      {{ recipe.text | raw }}
      <a href="{{ path('recipe_show', {'id' : recipe.id}) }}" class="btn btn-primary">lire la suite</a>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}