{% extends "base.html.twig" %}
{% block body %}
<article>
  <h2>{{ recipe.title }}</h2>
  <div class="metadata">Créer le {{ recipe.createdAt | date ('d/m/Y') }} à {{ recipe.createdAt | date ('H:i') }} dans
    la catégorie
    {% for category in recipe.categories %}
    <b>{{category.title}}</b>
    {% endfor %}
  </div>
  <div class="content">
    <img src="{{ recipe.image }}" alt="">
    {# met un raw sinon il affiche les balises p vu que nous n'en n'avons pas mis #}
    {{ recipe.text | raw }}
  </div>
  <a href="{{ path('recipe_delete', {'id' : recipe.id}) }}" class="btn btn-primary">delete</a>
</article>


{# <section id="add-comment">
  {{ form_start(formComment) }}
  {{ form_row(formComment.author, {'attr' : {'placeholder': 'author' } } ) }}
  {{ form_row(formComment.content, {'attr' : {'placeholder': 'description' } } ) }}
  <button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer
    {% else %}
    Ajouter la recette
    {% endif %}
  </button>
  {{ form_end(formComment) }}
</section> #}


<section id="comments">
  {% for comment in recipe.comments %}
  <div class="comment">
    <div class="row">
      <div class="col-3">
        {{comment.author}}
        (<small>{{comment.createdAt|date('d/m/Y à H:i')}}</small>)
      </div>
      <div class="col">
        {{comment.content|raw}}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock body %}