.home {
  background-color: orange;

  .slick-recipe{
    top: 25vh;
  }

  .cp-title{
    display: flex;
    align-items: center;
  }
}

// TITLE
.cp-title{
  font-size: 1.6rem;
  line-height: 3.75rem;
  text-align: left;
  font-weight: 900;
  color: white;
  position: absolute;
  left: 4%;
  top: 9%;
  &__title{
    padding-bottom: 8px;
    border-width: 20%;
    border-bottom: 1px solid $white-color;
  }
}

// CARD RECIPE
.cp-card-recipe{
  color: white;
  border: 1px solid white;
  width: 40vw;
  height: 11.5vw;
  margin-bottom: 3vw;
  position: relative;
  display: flex;

  &_image{
    width: 40%;
    height: 11.4vw;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon{
    margin-right: 10px;
  }

  &_infos{
    &-recipe{
      padding: 18px 0 18px 18px;
      width: 92%;
      border-bottom: 1px solid;
    }

    &-user{
      padding: 18px 0 18px 18px;
      width: 92%;
      display: flex;
      justify-content: space-between;
    }
  }

  span{
    margin-left: 5px;
  }
}
//MAPS
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        width: 50vw;
        height: 80vh;
        margin-top: 10%;
        background-color: green;

        h1{color: red;}
      }

      .list-farmer{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-column-gap: 30px;
        padding: 0 30px;

        .item{
          margin-bottom: 2rem;
        }
      }

      .section-farmer{
        .container{
          display: grid;
          grid-template-columns: 7fr 4fr;
        }
      }