<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Welcome to the SpaceBar{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>

        <li class="nav-item dropdown" style="margin-right: 75px;">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="nav-profile-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Create Post</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted">Made with <i class="fa fa-heart" style="color: red;"></i> by the guys and gals at <a
          href="https://knpuniversity.com">KnpUniversity</a></span>
    </div>
  </footer>


  {% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script>
    $('.dropdown-toggle').dropdown();
  </script>
  {% endblock %}
</body>

</html>